---

- hosts: macbox
  connection: local
  roles:
        - etchosts
        - homebrew
        - bash
        - zsh
        - aliases
        - functions
        - git
        - tmux
        - vim
        - atom
        - ssh #id_rsa key generation
        - automator-workflows
        - mas
        - dockutil
        - macos
        - iterm2

  become: yes
  become_method: sudo

  vars:
    user_name: rhapadmin
    user_group: staff
    home: "~"
    roles_dir: "{{ home }}/.files/ansible/roles"
    id_rsa: "{{ home }}/.ssh/id_rsa"

    filevault_auto_evict: true

    homebrew_cask_require_sha: false
    homebrew_taps:
        - homebrew/core
        - caskroom/cask
        - caskroom/versions
        - caskroom/fonts
        - getantibody/homebrew-antibody
    homebrew_installed_packages:
        - arp-scan
        - arping
        - bash-completion
        - cheat
        - curl, args: [with-openssl]
        - dockutil
        - fdupes
        - git
        - hardlink-osx
        - haskell-stack
        - htop
        - libnet
        - mackup
        - mas
        - mssql-tools
        - mycli
        - neofetch
        - nmap
        - node
        - pandoc
        - pv
        - python
        - python3
        - rsync
        - ruby
        - shellcheck
        - speedtest_cli
        - tldr
        - tmux
        - tree
        - vim
        - watch
        - wget
        - yarn
    homebrew_cask_apps:
        - alfred
        - anki
        - appcleaner
        - arq
        - atext
        - atom
        - autodmg
        - beardedspice
        - cscreen
        - dash
        - docker
        - dropbox
        - eloston-chromium
        - etrecheck
        - firefox
        - github
        - google-backup-and-sync
        - google-chrome
        - gotomeeting
        - iina
        - imageoptim
        - iterm2
        - kitematic
        - nvalt
        - omnidisksweeper
        - packer
        - platypus
        # - resilio-sync
        - slack
        - spectacle
        - suspicious-package
        - synergy
        - table-tool
        - the-unarchiver
        - virtualbox
        - vivaldi
        - vlc

    mas_email: ""
    mas_password: ""
    mas_installed_apps:
      # - { id: 420212497, name: "Byword (2.8)" }
      # - { id: 975937182, name: "Fantastical 2 - Calendar and Reminders" }
      # - { id: 409201541, name: "Pages" }
    mas_upgrade_all_apps: no
    mas_signin_dialog: yes

    dockitems_to_persist:
      - name: Mail
        path: "/Applications/Mail.app"
        pos: 3
      - name: Slack
        path: "/Applications/Slack.app"
        pos: 4
      - name: Google Chrome
        path: "/Applications/Google Chrome.app"
        pos: 5
      - name: Atom
        path: /Applications/Atom.app
        pos: 6
      - name: iTerm
        path: /Applications/iTerm.app
        pos: 7
      - name: System Preferences
        path: /Applications/System Preferences.app
        pos: 8
